/* Layouts */
body, html, main {
    height: 100%;
}

.h-90 {
    height: 90%!important;
}

a span, a {
    color: #333;
    -webkit-transition: color 0.3s ease-in-out;
       -moz-transition: color 0.3s ease-in-out;
         -o-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
}

a:hover span,a:hover {
    color: #ebd3a3;
    text-decoration: none;
}

*:focus {
    outline: none;
}

header a {
    margin: 1vw;
}

#menu-modal a {
    font-size: 150%;
}

#foot-social a i {
    margin: 1vw;
}

#foot-social a:hover {
    text-decoration: none;
}

/* Home */
@media (orientation:portrait) {
    #home-main .letter, #home-main .letter img {
        height: 25vh;
    }
    #est-main .letter, #est-main .letter img {
        height: 100vw;
    }
}

@media (orientation:landscape) {
    #home-main .letter, #home-main .letter img {
        height: 35vw;
    }
    #est-main .letter, #est-main .letter img {
        height: 45vw;
    }
}

.letter {
}

.letter img {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
}

.letter img.top:hover {
  opacity:0;
}

/* News */
.long-content-wrapper {
    overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

/* Contatti */
.hover-decoration-none:hover {
    text-decoration:none;
}
